.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.dialog-title {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.mat-dialog-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.mat-dialog-actions {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
