<mat-card class="storage-card">
  <div class="card-content">
    <mat-icon class="icon" aria-hidden="true">{{ icon }}</mat-icon>

    <div class="text-content">
      <div class="title-container">
        <mat-card-title class="title">{{ name }}</mat-card-title>
      </div>
      <div class="description-container">
        <mat-card-subtitle class="description">{{ description }}</mat-card-subtitle>
      </div>
      <div class="additional-info">
        <p *ngIf="count">Quantity: {{ count }}</p>
        <p *ngIf="expirationDate">Expiration Date: {{ expirationDate | date: 'yyyy-MM-dd' }}</p>
        <p *ngIf="warrantyDate">Warranty Date: {{ warrantyDate | date: 'yyyy-MM-dd' }}</p>
      </div>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="onEdit($event)">Edit</button>
      <button mat-raised-button color="warn" (click)="onDelete($event)">Delete</button>
    </div>
  </div>
</mat-card>

